.paragraph-circle {
  text-align: justify;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-top: 5%;
}

h3 {
  font-size: 30px;
  margin-top: 3%;
  float: left;
}

#button {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  float: left;
  color: "black";
  background-color: #91a6be;
}

.scorestats {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#divcounter {
  margin: 3%;
}

/* Style for Testimonials */
#image-about {
  width: 50%;
}

.testimonial-slider {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.testimonial-slider h2 {
  color: #333;
}

.testimonial {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
}

.slider-controls {
  margin-top: 20px;
}

.prev-button,
.next-button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: #0056b3;
}

.total-customers-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  border-radius: 50%;
}

.icon {
  font-size: 24px;
  color: #555;
}

.text-container {
  margin-left: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.count {
  font-size: 24px;
  margin: 0;
}

/**************************/

/*****************/
/*For Success Screen*/
@use "three-dots";

.success-animation {
  margin: 150px auto;
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
/*****************/

@media screen and (max-width: 850px) {
  h3 {
    font-size: 30px;
    margin-top: 3%;
    float: none;
  }

  .paragraph-circle {
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #button {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    float: none;
  }

  .scorestats {
    display: block;
  }

  #image-about {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 30px;
    margin-top: 3%;
    float: none;
  }

  .paragraph-circle {
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #divcounter {
    margin-top: 7%;
  }
  #image-about {
    width: 90%;
  }
}
